@use "../../../shared/styles/variables" as *;
@use "../../../shared/styles/mixins" as *;

.hero {
	position: relative;
	margin-bottom: 110px;
}

.heroSwiper {
	:global(.swiper-wrapper) {
		width: 100%;
		height: 92vh;

		@include mobile {
			height: 90vh;
		}
	}
}

.heroItem {
	padding-top: 234px;
	color: var(--color-light);

	@include mobile {
		padding-top: 90px;
		padding-bottom: 24px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
	}

	.heroImage {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: -2;
		object-fit: cover;
		object-position: center;
	}

	.content {
	}

	.slideTop {
		padding-bottom: 30px;

		@include mobile {
			padding-bottom: 24px;
			padding-top: 10px;
		}

		.benefits {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 14px;
			color: $color-white;

			@include mobile {
				gap: 8px;
			}

			&__item {
				padding: 8px 14px;
				border-radius: 100px;
				background-color: #d9dee726;
				@include textCaption;

				@include mobile {
					padding: 8px 12px;
				}
			}
		}

		.subTitle {
			@include text1;
			color: $color-white;
			position: relative;
			width: fit-content;

			@include mobile {
				font-size: 16px;
			}

			.arrow {
				position: absolute;
				top: -2px;
				right: -85px;

				@include mobile {
					display: none;
				}
			}
		}

		.heroTitle {
			@include header1;
			padding: 16px 0 18px 0;
			color: $color-white;

			@include mobile {
				padding: 12px 0;
			}
		}
	}

	.slideBottom {
		display: flex;
		align-items: center;
		column-gap: 20px;

		@include mobile {
			flex-direction: column-reverse;
			row-gap: 14px;

			a {
				width: 100%;
			}
		}
	}

	.brands {
		&__wrap {
			margin-top: 72px;

			@include mobile {
				margin-top: 32px;
			}
		}

		&__title {
			color: $color-white;
			margin-bottom: 16px;
			@include textCaption;

			@include mobile {
				margin-bottom: 8px;
			}
		}

		&__list {
			display: flex;
			width: fit-content;
			gap: 8px;
			padding: 16px;
			background-color: #ffffff33;
			border-radius: 14px;

			@include mobile {
				padding: 8px;
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				width: 100%;
			}
		}

		&__item:nth-child(n + 9) {
			display: none;
		}

		&__item {
			width: 90px;
			height: 90px;
			position: relative;
			padding: 8px;
			border-radius: 10px;
			background-color: $color-white;

			@include laptop {
				width: 72px;
				height: 72px;
			}

			@include mobile {
				width: 100%;
				height: 48px;
				border-radius: 8px;
			}

			img {
				scale: 0.8;
			}
		}
	}
}

// пагинация
:global(.swiper-pagination-bullet) {
	width: 12px;
	height: 12px;
	background: transparent;
	opacity: 1;
	border: 1px solid $color-white;

	&:global(.swiper-pagination-bullet-active) {
		background: $color-white;
	}
}

:global(.swiper-pagination) {
	bottom: 30px !important;

	@media (max-width: 768px) {
		bottom: 20px !important;
	}
}
