@use "../../../shared/styles/variables" as *;
@use "../../../shared/styles/mixins" as *;

.footer {
	background-color: $color-bg;
	color: $color-white;
	padding: 24px 32px;
	margin-bottom: 40px;
	border-radius: 10px;

	@include mobile {
		padding: 16px;
	}

	.iconsWrap {
		display: flex;
		justify-content: space-between;
		align-self: flex-start;

		@include mobile {
			flex-direction: column;
		}

		.logoImage {
			width: fit-content;
			height: 40px;

			@include laptop {
				height: 28px;
			}

			@include mobile {
				height: 32px;
			}
		}
	}

	.main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 24px;

		@include mobile {
			flex-direction: column;
			gap: 24px;
		}

		.navSections {
			font-size: 13px;
			font-weight: 500;
			line-height: 120%;
			color: $color-white;
			text-transform: uppercase;
			display: flex;
			gap: 16px;

			@include laptop {
				gap: 12px;
				font-size: 12px;
			}

			@include mobile {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				width: 100%;
			}

			.navLink {
				cursor: pointer;

				&:hover {
					color: $color-primary;
				}
			}
		}

		.actions {
			display: flex;
			align-items: center;
			gap: 16px;

			@include laptop {
				gap: 12px;
			}

			@include mobile {
				flex-direction: column;
				width: 100%;
			}

			a {
				font-size: 16px;
				font-weight: 600;
				line-height: 1;

				&:hover {
					color: $color-primary;
				}

				@include laptop {
					font-size: 14px;
				}

				@include mobile {
					border: 1px solid $color-white;
					width: 100%;
					text-align: center;
					padding: 13px;
					border-radius: 8px;
				}
			}

			button {
				@include laptop {
					font-size: 14px;
					min-width: 190px;
				}

				@include mobile {
					padding: 12px;
					font-size: 16px;
				}
			}
		}
	}

	.info {
		padding-bottom: 24px;
		font-size: 12px;
		color: $color-transparent-light;

		@include mobile {
			border: none;
			padding-bottom: 0;
		}

		p {
			padding-bottom: 10px;
		}

		//.disclaimer {
		//	overflow: hidden;
		//
		//	&.show {
		//		max-height: 500px;
		//	}
		//	&:not(.show) {
		//		max-height: 1rem;
		//	}
		//}

		//.btnDisclaimer {
		//	padding-bottom: 10px;
		//	text-decoration: underline;
		//
		//	&:hover {
		//		color: $color-primary;
		//	}
		//}
	}

	.links {
		font-size: 13px;
		line-height: 100%;
		font-weight: 500;
		color: $color-more-light-gray;
		display: flex;
		justify-content: space-between;

		@include mobile {
			flex-direction: column;
			gap: 16px;
			font-size: 11px;
		}

		&__wrap {
			display: flex;
			gap: 24px;
			align-items: baseline;

			@include mobile {
				gap: 16px;
				flex-direction: column;
			}

			.link {
				text-decoration: underline;
			}
		}
	}
}
