@use "../../../shared/styles/variables" as *;
@use "../../../shared/styles/mixins" as *;

.contacts {
	margin-bottom: 120px;

	@include mobile {
		margin-bottom: 60px;
	}

	.contactsTitle {
		font-size: 36px;
		line-height: 100%;
		font-weight: 400;
		padding-bottom: 40px;

		@include mobile {
			font-size: 24px;
			padding-bottom: 24px;
		}
	}

	.contactsWrap {
		background-color: $color-light-gray;
		padding: 32px;
		border-radius: 20px;

		@include mobile {
			flex-direction: column-reverse;
			row-gap: 15px;
		}

		.contactsSwitcher {
			display: flex;
			padding: 4px;
			gap: 8px;
			background-color: $color-more-light-gray;
			border-radius: 10px;
			margin-bottom: 20px;

			.contactsSwitcherBtn {
				flex: 1;
				padding: 12px;
				border-radius: 8px;
				font-size: 16px;
				font-weight: 600;

				&.active {
					background-color: $color-bg;
					color: $color-light;
				}

				&:not(.active):hover {
					background-color: $color-light-gray;
				}
			}
		}

		.contactsItemsContainer {
			position: relative;

			.contactsItem {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				display: flex;
				column-gap: 20px;
				opacity: 0;
				visibility: hidden;
				transition:
					opacity 0.2s ease,
					visibility 0.2s ease;
				pointer-events: none;

				&.active {
					opacity: 1;
					visibility: visible;
					position: relative;
					pointer-events: auto;
				}

				@media (prefers-reduced-motion: reduce) {
					transition: none;
				}

				.contactsInfo {
					flex: 30%;
					padding: 24px;
					background-color: $color-light;
					border-radius: 14px;
					box-shadow: 0 2px 10px 0 #00000040;

					@include mobile {
						flex: none;
					}

					.contactsItemTitle {
						font-size: 18px;
						font-weight: 600;
						line-height: 1.1;
						text-transform: uppercase;
						margin-bottom: 20px;
					}

					.contactsItemList {
						> li {
							display: flex;
							align-items: center;
							column-gap: 8px;
							font-size: 16px;
							font-weight: 600;

							&:not(:last-child) {
								margin-bottom: 12px;
							}

							svg {
								fill: $color-primary;
								stroke: $color-primary;
							}
						}
					}
				}
			}
		}

		:global(#map) {
			flex: 70%;
			height: 400px;
			border-radius: 14px;
			overflow: hidden;
			box-shadow: 0 2px 10px 0 #00000040;

			@include mobile {
				height: 220px;
				flex: none;
			}
		}
	}
}

:global(.ymaps-2-1-79-map-copyrights-promo),
:global(.ymaps-2-1-79-copyright__promo),
:global(.ymaps-2-1-79-copyrights-pane) {
	display: none !important;
}
