@use "../../../shared/styles/variables" as *;
@use "../../../shared/styles/mixins" as *;

.contacts {
	.contactsWrap {
		background-color: $color-light-gray;
		padding: 32px;
		border-radius: 20px;
		margin-top: 32px;

		@include mobile {
			flex-direction: column-reverse;
			row-gap: 15px;
		}

		.contactsSwitcher {
			display: flex;
			padding: 4px;
			gap: 8px;
			background-color: $color-more-light-gray;
			border-radius: 10px;
			margin-bottom: 20px;

			.contactsSwitcherBtn {
				flex: 1;
				padding: 12px;
				border-radius: 8px;
				font-size: 16px;
				font-weight: 600;

				&.active {
					background-color: $color-bg;
					color: $color-white;
				}

				&:not(.active):hover {
					background-color: $color-light-gray;
				}
			}
		}

		.contactsItemsContainer {
			position: relative;

			.contactsItem {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				display: flex;
				column-gap: 20px;
				opacity: 0;
				visibility: hidden;
				transition:
					opacity 0.2s ease,
					visibility 0.2s ease;
				pointer-events: none;

				&.active {
					opacity: 1;
					visibility: visible;
					position: relative;
					pointer-events: auto;
				}

				@media (prefers-reduced-motion: reduce) {
					transition: none;
				}

				@include mobile {
					flex-direction: column-reverse;
					row-gap: 16px;
				}

				.contactsInfo {
					//flex: 30%;
					width: 455px;
					flex: none;
					padding: 24px;
					background-color: $color-white;
					border-radius: 14px;
					box-shadow: 0 2px 10px 0 #00000040;

					@include mobile {
						flex: none;
						width: 100%;
					}

					.contactsItemTitle {
						font-size: 18px;
						font-weight: 600;
						line-height: 1.1;
						text-transform: uppercase;
						margin-bottom: 20px;
					}

					.contactsItemList {
						> li {
							display: flex;
							align-items: center;
							column-gap: 8px;
							font-size: 16px;
							font-weight: 600;

							&:not(:last-child) {
								margin-bottom: 12px;
							}

							svg {
								fill: $color-primary;
								stroke: $color-primary;
							}

							a:hover {
								color: $color-primary;
							}
						}
					}

					.brandWrap {
						display: grid;
						height: 184px;
						grid-template-columns: repeat(4, 1fr);
						grid-template-rows: repeat(2, 1fr);
						gap: 8px;
						margin-top: 20px;

						@include mobile {
							height: fit-content;
						}

						&.brandsCount2 {
							grid-template-columns: repeat(2, 1fr);
							grid-template-rows: repeat(1, 1fr);
						}

						.brand {
							position: relative;
							padding: 8px;
							border-radius: 10px;
							border: 1px solid #0000001a;
							box-shadow: 0 2px 6px 0 #00000040;

							@include mobile {
								height: 48px;
							}

							img {
								scale: 0.8;
							}
						}
					}
				}
			}
		}

		:global(#map) {
			flex: 70%;
			height: 400px;
			border-radius: 14px;
			overflow: hidden;
			box-shadow: 0 2px 10px 0 #00000040;

			@include mobile {
				height: 220px;
				flex: none;
			}
		}
	}
}

:global(.ymaps-2-1-79-map-copyrights-promo),
:global(.ymaps-2-1-79-copyright__promo),
:global(.ymaps-2-1-79-copyrights-pane) {
	display: none !important;
}
