@use "../../../shared/styles/variables" as *;
@use "../../../shared/styles/mixins" as *;

.form__wrap {
	position: relative;
	border-radius: 14px;
	overflow: hidden;

	&.end {
		.info {
			margin-left: auto;
		}
	}

	@include mobile {
		margin: 0 10px 60px;
	}

	.img__wrap {
		position: absolute;
		inset: 0;
		z-index: -1;

		> img {
			object-fit: cover;
			width: 100%;
			height: auto;
		}
	}

	.info {
		color: $color-white;
		//padding: 32px;
		padding: 32px 32px 32px 58px;
		width: fit-content;

		@include mobile {
			margin-top: auto;
			padding: 150px 10px 30px;
		}

		.title {
			font-size: 40px;
			font-weight: 600;
			line-height: 100%;
			letter-spacing: -0.02em;
			//margin: 0;
			margin: 0 0 0 -26px;
			padding-bottom: 32px;
			@include titleDot;

			@include laptop {
				font-size: 32px;
			}

			@include mobile {
				margin: 0;
				font-size: 24px;
				padding-bottom: 24px;
			}
		}
	}
}

.form {
	width: 606px;

	@include laptop {
		width: 490px;
	}

	@include mobile {
		width: 100%;
	}

	.form__inputs {
		display: flex;
		gap: 16px;

		@include laptop {
			gap: 8px;
		}

		@include mobile {
			flex-direction: column;
		}

		button {
			flex: none;
		}
	}

	.checkbox__wrap {
		display: flex;
		align-items: center;
		gap: 10px;
		font-size: 13px;
		font-weight: 500;
		line-height: 110%;
		margin-top: 16px;

		@include mobile {
			font-size: 11px;
			gap: 8px;
			margin-top: 14px;
		}

		input[type="checkbox"] {
			display: none;
		}

		.checkbox {
			width: 24px;
			height: 24px;
			border-radius: 2px;
			background-color: $color-more-light-gray;
			flex: none;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.policyLink {
			text-decoration: underline;
			padding: 0 4px;
		}

		> div {
			color: $color-more-light-gray;
			opacity: 0.5;
		}
	}
}
