@use "./variables" as *;

@mixin swiperPagination {
}

@mixin swiperButtons {
}

// адаптив
// Mobile (до 767px)
@mixin mobile {
	@media (max-width: #{$breakpoint-mobile - 1px}) {
		@content;
	}
}

// Tablet & Mobile (до 1023px)
@mixin tablet {
	@media (max-width: #{$breakpoint-tablet - 1px}) {
		@content;
	}
}

// Tablet & Mobile & Laptop (до 1599px)
@mixin laptop {
	@media (max-width: #{$breakpoint-laptop - 1px}) {
		@content;
	}
}

// Desktop (1024px и выше)
@mixin desktop {
	@media (min-width: #{$breakpoint-tablet}) {
		@content;
	}
}

@mixin fadeInCard {
	animation: fadeInUp 0.5s ease forwards;
	opacity: 0;

	// Последовательное появление карточек
	@for $i from 1 through 10 {
		&:nth-child(#{$i}) {
			animation-delay: #{$i * 0.1}s;
		}
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(20px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@mixin titleDot {
	position: relative;
	padding-left: 26px;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 10px;
		height: 10px;
		background-color: $color-primary;
	}

	@include mobile {
		padding-left: 14px;

		&::before {
			width: 6px;
			height: 6px;
		}
	}
}

@mixin header1 {
	font-size: 80px;
	font-weight: 600;
	letter-spacing: -0.03em;

	@include laptop {
		font-size: 64px;
	}

	@include mobile {
		font-size: 33px;
	}
}
@mixin header2 {
	font-size: 40px;
	font-weight: 600;
	letter-spacing: -0.02em;

	@include mobile {
		font-size: 24px;
	}
}
@mixin header3 {
	font-size: 32px;
	font-weight: 600;
	letter-spacing: -0.02em;

	@include mobile {
		font-size: 22px;
	}
}
@mixin header4 {
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1;
	text-transform: uppercase;

	@include mobile {
		font-size: 14px;
	}
}
@mixin header5 {
	font-size: 18px;
	font-weight: 600;
	letter-spacing: -0.02em;

	@include mobile {
		font-size: 14px;
	}
}

@mixin text1 {
	font-size: 22px;
	font-weight: 500;
	letter-spacing: -0.02em;
	line-height: 1.2;

	@include mobile {
		font-size: 15px;
	}
}
@mixin textCaption {
	font-size: 13px;
	font-weight: 500;
	line-height: 1.1;
	text-transform: uppercase;

	@include mobile {
		font-size: 11px;
	}
}
@mixin bodyText {
	font-size: 16px;
	letter-spacing: -0.02em;
	line-height: 1.1;

	@include mobile {
		font-size: 14px;
	}
}

@mixin textBold {
	font-size: 16px;
	font-weight: 700;
	letter-spacing: -0.02em;

	@include mobile {
		font-size: 14px;
	}
}
@mixin textSmall {
	font-size: 13px;
	font-weight: 500;

	@include mobile {
		font-size: 11px;
	}
}
