/* colors */
$color-light: #fff;
$color-transparent-light: #ffffff44;
$color-dark: #000;
$color-bg: #1b1d23;
$color-primary: #f84f0c;
$color-secondary: #82c2c4;
$color-dark-gray: #1b1d23;
$color-gray: #959393;
$color-light-gray: #e1e1e1;
$color-more-light-gray: #f0f2f6;
$color-transparent-light-gray: #3f3f3f80;
$transition-0-3s: all 0.3s ease;

$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;
$breakpoint-laptop: 1800px;
