@use "../../../shared/styles/variables" as *;
@use "../../../shared/styles/mixins" as *;

.about {
	background-color: $color-light-gray;
	padding: 110px 0;
	column-gap: 20px;

	@include mobile {
		padding: 30px 0;
	}

	.content {
		display: flex;

		@include mobile {
			flex-direction: column;
			row-gap: 20px;
		}

		> div {
			flex: 1;
		}
	}
}
