@use "../../../shared/styles/variables" as *;
@use "../../../shared/styles/mixins" as *;

.rating {
	overflow: hidden;

	.top {
		display: flex;
		justify-content: space-between;
		align-items: end;
	}

	.rating__wrapper {
		margin-top: 32px;

		@include mobile {
			margin-bottom: 24px;
		}

		.swiper {
			overflow: visible;
		}
	}
}

.rating__card {
	border-radius: 14px;
	padding: 10px;
	background-color: $color-white;
	box-shadow: 0 2px 10px 0 #00000040;
	height: 214px;
}
